<div id="<%= dom_id week %>">
  <p>
    <strong>Week:</strong>
    <%= week.week_number %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= week.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= week.end_date %>
  </p>
</div>
