<p style="color: green"><%= notice %></p>

<h1>Periods</h1>
<h4>A period is a two week period</h4>
<h3><%= link_to "New period", new_period_path %></h3>
<div id="periods">
  <% @periods.each do |period| %>
    <%= render period %>
    <p>
      <%= link_to "Show this period", period %>
    </p>
  <% end %>
</div>