<div id="<%= dom_id shift %>">
  <p>
    <strong>Name:</strong>
    <%= shift.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= shift.date %>
  </p>

  <p>
    <strong>Period:</strong>
    <%#= shift.period_id %>
  </p>

  <p>
    <strong>Nurse:</strong>
    <%#= shift.nurse_id %>
  </p>

</div>
